:root {
  --span-color: blue;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20px;
  border: black dotted 5px;
}

.grid-item1 {
  grid-row: span 2;
  background-color: var(--span-color);
}

.grid-item3 {
  grid-column: span 3;
  background-color: var(--span-color);
}

.grid-item10 {
  grid-column: span 3;
  grid-row: span 3;
  background-color: var(--span-color);
}

.grid-item15 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: var(--span-color);
}

.name { 
  color: goldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;
}

.image img {
  width: 100px;
  height: 100px;
}