.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20px;
}

.item1 {
  grid-area: 1 / 1 / 1 / 2;
}

.name { 
  color: goldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;
}